<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="d-flex align-items-center justify-content-start gap-3  ">
                    <i class="fas fa-compass "></i>
                    <a class="navbar-brand" href="/listings">
                        Hamro Yatra</a>
                </div>
            </div>
            <div class="col-md-4">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Destinations</a></li>
                    <li><a href="#">Packages</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Contact Us</h4>
                <p>Email: info@hamroyatra.com<br>
                    Phone: +977 9802117232<br>
                    Address: Kathmandu, Nepal
                </p>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-12 text-center">
                <div class="f-info">
                    <div class="f-info-social">
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-instagram-square"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div>

                    <div class="foot">
                        <div class="f-info-brand">
                            <i class="fas fa-compass"></i>
                            <a class="navbar-brand" href="/listings">Hamro Yatra</a>
                        </div>
                    </div>

                    <div class="f-info-links">
                        <a href="/privacy">Privacy</a>
                        <a href="/terms">Terms</a>
                    </div>
                </div>
                <p>&copy; 2024 Your Travel Website. All rights reserved.</p>
            </div>
        </div>
    </div> -->
</footer>