<% layout("/layouts/boilerplate")%>



    <body>

        <div class="row">
            <div class="col-6 mb-4  offset-3 ">

                <h2 class=" mt-5 mb-2 ">SignUp on Hamro Yatra </h2>
                <form action="/signup" method="post" class="needs-validator" novalidate>

                    <div class="mb-3">
                        <label for="username" class="form-label">User Name</label>
                        <input type=" text" name="username" id="username" class="form-control" required>
                        <div class="invalid-feedback">Please Enter User Name...!</div>

                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" name="email" id class="form-control" required>
                        <div class="invalid-feedback">Please Enter User Email...!</div>

                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" required>
                        <div class="invalid-feedback">Please Enter User Passwords...!</div>

                    </div>

                    <!-- <div class="row">
                        <div class=" offset-2 ">
                            <form class="offset-3 " action="/login" method="get">
                                <div>
                                </div>
                                
                            </form>
                        </div>
                    </div> -->

                    <h3 class="offset-2 ">already have account...!
                        <a href="/login">Login</a>
                    </h3>
                    <button class="btn btn-success  offset-5  mt-3 ">Sign Up</button>
                </form>
            </div>
        </div>

    </body>